<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__left">
      <ul class="navbar__menu">
        <li><a href="/admin/admin-shop">Shop</a></li>
      </ul>
    </div>
    <div class="navbar__right">
      <ul class="navbar__menu">
        <li><a href="/admin/cart">Cart</a></li>
        <li><a href="/admin/sell-your-product">Sell</a></li>
        <li><a href="/login">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
