<nav class="navbar">
  <div id="navbar__div" class="navbar__div">
    <div class="navbar__div-left">
      <ul class="navbar__ul">
        <li>
          <a href="home">Home</a>
        </li>
        <li>
          <a href="/about">About Us</a>
        </li>
      </ul>
    </div>
    <div class="navbar__div-right">
      <ul class="navbar__ul">
        <li>
          <a href="/login">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
